{
    "extends": "eslint-config-airbnb",
    "parser": "babel-eslint",
    "ecmaFeatures": {
        "globalReturn": true,
        "experimentalObjectRestSpread": true,
        "modules": true,
        "classes": true
    },
    "rules": {
        // overrides best practices.js
        "curly": [
            1,
            "all"
        ],
        "eqeqeq": [
            2,
            "allow-null"
        ],
        // Temporarily disabled due to a possible bug in babel-eslint (todomvc example)
        "block-scoped-var": 0,
        "wrap-iife": [
            2,
            "inside"
        ],
        // overrides style.js
        "comma-dangle": [
            1,
            "always-multiline"
        ],
        "indent": [
            1,
            2,
            {
                "SwitchCase": 1
            }
        ],
        "keyword-spacing": [
            1
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "new-cap": [
            1
        ],
        "padded-blocks": [ 0 ],
        "space-before-blocks": [ 1, "always" ],
        "space-before-function-paren": [
            2,
            {
                "anonymous": "always",
                "named": "never"
            }
        ],

        // overrides errors.js
        "no-console": [ 0 ],

        // overrides variables.js
        "no-unused-vars": [ 1 ],

        "react/prefer-stateless-function": [ 0 ],

        "react/prop-types": [ 0 ],

        "max-len": [ 1, 150 ],

        "consistent-return": [ 0 ],

        "prefer-template": [ 0 ],

        "no-underscore-dangle": [ 0 ],

        "no-plusplus": [ 0 ],

        "import/no-extraneous-dependencies": [ 0 ]
    }
}
