.side-by-side {
  width: 100%;
  font-size: 36px;
  line-height: 1em;
  display: flex;
  margin-bottom: 50px;
}

.side-by-side > div {
  width: 50%;
  border: 1px solid black;
  padding: 5px;
  box-sizing: border-box;
}

.shiitake-inline-wrapper {
  width: 50%;
  margin-bottom: 50px;
  font-size: 36px;
  display: flex;
}

.shiitake-paragraph {
  margin: 0 0 50px;
  width: 25%;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.show-hide-example {
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

.show-hide-content {
  position: absolute;
  /* using negative top like this preserves with width so the spacers can compute accurately */
  top: -20000px;
  box-sizing: inherit;
}

.show-hide-example:hover .show-hide-content {
  position: relative;
  top: 0;
}

.example-label {
  color: #26539b;
}
